@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display|Raleway');
nav {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: antiquewhite;

}

body {
	background-color: #f9f9f9;
	width: 100%;
	margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.topnav {
	background-color: rgb(64, 47, 18, 0);
	overflow: hidden;
	font-family: 'Raleway', sans-serif;

}

.topnav a {
	float: right;
	color: #ffdb58;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ffdb58;
	color: black;
}

.topnav a.active {
	background-color: #f7aa00;
	color: #333;
}

.welcome-message {
	align-content: center;
	color: #ffdb58;
	font-size: 70px;
	font-family: 'Raleway', sans-serif;
	text-shadow: 1.5px 1px #f7aa00;
	text-align: center;
	background-color: #f9f9f9;
	height: 55vh;
	vertical-align: middle;
	padding-top: 40vh;
	background-image: url("../../../media/background.jpg")
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-bottom: 100px;
}

.topnav b {
	float: left;
	padding: 12px 12px;
	font-size: 19px;
	color: #ffdb58;
	font-style: italic;
	font-weight: bold;
}

.logo img {

	opacity: 0.1;
	filter: alpha(opacity=10);
}

.logo img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.cool-logo {
	position: relative;
	display: left;
	margin-left: 1vw;
	margin-right: auto;
	width: 12%;
	border-radius: 100px;
}

.header {
	position: fixed;
	top: 6vmin;
	overflow: hidden;
}

.picture-of-me {
	display: inline-block;
	width: 40vh;
}

.show-more {
	font-family: 'Merriweather', serif;
	text-align: center;
	opacity: 1;
	font-size: 1.5vh;
	background-color: rgb(0, 0, 0, 0);
	bottom: 7vh;
	position: absolute;
	right: 0;
	left: 0;

}

.all-basic-info {
	display: none;
}

.text-info {
	display: inline-block;
	text-align: justify;
	padding-top: 12%;
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 12%;
}

.grid-container {
	display: grid;
	align-items: stretch;
	align-content: center;
	padding-top: 20vh;
	padding-left: 20vw;
	padding-right: 20vw;
	background-color: #ECECEC;
}

#basic-info {
	grid-template-areas: 'picture picture picture blank  blank  blank blank' 'picture picture picture text   text   text  text' 'picture picture picture text   text   text  text' 'blank2  blank2  blank3  text   text   text  text';
	padding-bottom: 20vh;
}

#basic-info-two {
	grid-template-areas: 'blank blank blank blank  picture  picture picture' 'text  text  text  text   picture  picture picture' 'text  text  text  text   picture  picture picture' 'text  text  text  text   blank3   blank2  blank2';
	padding-bottom: 20vh;
}

.grid-template-blank2 {
	grid-area: blank2;
	opacity: 0;
}

.grid-template-picture {
	grid-area: picture;
	background-size: cover;
	padding-top: 12vh;
	padding-bottom: 12vh;
	width: 45vmin;
	height: auto;

}

#picture-me-one {
	background-image: url(../../../media/me.png);
}

#picture-me-two {
	background-image: url(../../../media/me2.png);
}

.grid-template-blank {
	grid-area: blank;
	opacity: 0;
}

.grid-template-blank3 {
	grid-area: blank3;
	background-color: #999;
}

.grid-template-text {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 7vmin;
	color: #fff;
	grid-area: text;
	font-family: 'Merriweather', serif;
	font-size: 2vw;
	background-color: #999;

}

.grid-container-products {
	display: grid;
	font-family: 'Merriweather', serif;
	grid: auto / auto;
	padding-left: 15vw;
	padding-right: 15vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
	background-color: rgb(239, 239, 239, 0);
}

.grid-container-product {
	display: grid;
	font-family: 'Merriweather', serif;
	grid: auto/ auto auto;
	background-color: #efefef;
	justify-content: center;
	align-items: center;
}

.grid-item-product {
	font-size: 20px;
	text-align: center;
	align-content: center;
}

.grid-item {
	font-size: 2vh;
	text-align: center;
	padding: 5vh 5vh;
}

.product-picture {
	border-radius: 200px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-bottom: 30px;
	margin-top: 30px;
	margin-top: 30px;
	border: 3px solid black;
}

.product-picture:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.title-div {
	padding-top: 20vh;
	padding-bottom: 15vh;
}

.welcome-to-regular {
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	text-align: center;
	color: #ffdb58;
}

.sub-message {
	font-family: 'Playfair Display', serif;
	color: #7a7a7a;
	font-size: 10px;
	text-align: center;
}

.product-image img {
	max-width: 100%;
	height: auto;
	position: relative;
	transition: transform .2s;
	width: 50vh;
	height: auto;
	margin: 0 auto;
	border-radius: 400px;
	border-bottom: 5%;
}

.product-image img:hover {
	transform: scale(1.2);
	opacity: 0.4;
}

.buy-it-text {
	font-family: 'Playfair Display', serif;
	position: relative;
	text-align: center;
	top: 38%;
	font-size: 2.5vw;
	color: black;
	font-style: italic;
	font-weight: bolder;
	transform: rotate(-20deg)
}

.form {
	padding-top: 20px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.form input {
	width: 25px;
	margin-top: 12px;
}

.grid-item button {
	font-family: 'Raleway', sans-serif;
}

.buy-button {
	margin-top: 15px;
	padding: 10px 15px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #7a7a7a;
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px #999;
}

.buy-button:hover {
	background-color: #FFA71a;
	color: black;
}

.buy-button:active {
	background-color: #DC9417;
	box-shadow: 0 5px #666;
	transform: translateY(2px);
	color: black;
}

.plus-minus-button {
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 2px 9px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #7a7a7a;
	border: none;
	border-radius: 10px;
	box-shadow: 0 2px #999;
}

.plus-minus-button:hover {
	background-color: #FFA71a;
	color: black;
}

.plus-minus-button:active {
	background-color: #DC9417;
	box-shadow: 0 5px #666;
	transform: translateY(2px);
	color: black;
}


.empty-space {
	padding-top: 150px;
}

.select-list {
	margin-top: 15px;

}

#centred-login {
	padding-top: 40vh;
	padding-left: 50%;
	padding-right: 50%;
}

.login {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	clear: both;
}

#Login {
	background-image: url(../../../media/snowscape.jpg);
	background-size: cover;
	height: 95vh;
}

#Products {
	background-image: url(../../../media/sea.jpg);
	background-size: cover;
}

/* Full-width input fields */

.login input[type=text],
input[type=password] {
	width: 100%;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 12px 20px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}


.initial-button {
	padding: 15px 20px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(247, 170, 0, 0);
	border-radius: 15px;

}

.initial-button:hover {
	background-color: #ffdb58;
	color: black;
	box-shadow: 0 4px #999;
}

.initial-button:active {
	background-color: #FFA71a;
	box-shadow: 0 5px #666;
	transform: translateY(2px);
	color: black;
}

#send-it-button {
	background-color: #ffdb58;
}

#send-it-button {
	padding: 9px 30px;
	box-shadow: 0 4px #999;
	font-size: 13px;
}

/* Center the image and position the close button */

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

.login img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
}

.login span.psw {
	float: right;
	padding-top: 16px;
}

/* The Modal (background) */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */

.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 70%;
	/* Could be more or less, depending on screen size */
	padding: 30px 30px;
}

/* The Close Button (x) */

.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */

.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0)
	}
	to {
		-webkit-transform: scale(1)
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0)
	}
	to {
		transform: scale(1)
	}
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}

.screen-fixing {
	margin-bottom: 45vh;
}

.main {
	width: 100%;
	height: 100%;
	clear: both;
}

.cb {
	clear: both;
}

.footer {
	background-color: rgb(229, 229, 229, 0.2);
	position: absolute;
	bottom: 10;
	width: 100%
}

.new-product-grid {
	margin-left: 15%;
	margin-right: 15%;
	display: grid;
	grid-template-areas: 'header menu' 'header main';
	grid-template-rows: '5vh 5vh' padding: 10px;
	margin-bottom: 10%;
}

.new-product-grid > div {
	text-align: center;
	font-size: 30px;
}

.grid-p-image {
	grid-area: header;
	padding-bottom: 20%;
}

.grid-p-title {
	grid-area: menu;
	padding-top: 70%;
}

.grid-buy-stuff {
	grid-area: main;
	padding-bottom: 30%;
}

#grid-cart{
	grid-template-areas: 	'header header header header'
							'cart cart cart cart'
							'footer footer footer footer';
	align-content: center;
	height: 85vh;
	background-image: url(../../../media/shoppingcart.jpg)
}

.topstuff{
	grid-area: header;
	margin-top: 16vh;
}

.bodystuff{
	grid-area: cart;
	height: 50vh;
}

.footerstuff{
	grid-area: footer;
}

.table{
	width: 80vh;
	margin-top: 25vh;
	margin-left: 25%;
	margin-right: 45%;
}

table, td, th {
	border: 2px solid black;
	border-collapse: collapse;
	color: palevioletred;
	font-size: 24px;
	background-color: purple;
}

#cancel-button{
	align-content: center;
	margin-left: 30%;
	margin-right: 60%;
	display: inline-block;
	position: absolute;

}

#checkout-button{
	align-content: center;
	margin-left: 60%;
	margin-right: 30%;
	display: inline-block;
	position: absolute;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
	margin-top: 10vh;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container-checkout {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text],[type=email],[type=month] {
  width: 99%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #ffdb58;
  color: slategray;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
	margin-bottom: 10vh;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

.error{
	color: red;
}
