nav {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: antiquewhite;
}

body {
	background-color: #f9f9f9;
}

.topnav {
	background-color: darkolivegreen;
	overflow: hidden
}

.topnav a {
	float: right;
	color: #FFA71A;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #FFA71A;
	color: #333;
}

.welcome-message {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	text-align: center;
	background-color: #f9f9f9;
	padding-top: 30px;
	padding-bottom: 70px;
	padding-left: 30px;
	padding-right: 30px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding-bottom: 100px;
}

.topnav b {
	float: left;
	padding: 12px 12px;
	font-size: 19px;
	color: #FFA71A;
	font-style: italic;
	font-weight: bold;
}
.cool-logo{
	display: left;
	margin-left: auto;
	margin-right: auto;
	padding-top: 12px;
	width: 10%;
}
.container{
	padding-left: 100px;
	padding-right: 100px;
}

.header {
	overflow: hidden
}
.greetings {
	color: darkgray;
	text-align: left;
	font-size: 1vw;


}
